body
{	
background-color: black;
margin: 0px;
}
 img
{
margin: 0px;
}
a img
{
border: none;
}
#title
{
color: white;
font-family: Arial;
font-size: 40px;
}

#title a
{
color: white;
font-family: Arial;
font-size: 40px;
text-decoration: none;
}
#description
{
margin-left: 8px;
font-size: 18px;

}
#opt 
{
margin-right: 5px;

float: right;
text-align: right;
font-size: 14px;
line-height:20px;
}
#opt a
{
font-size: 14px;
}
#b_header
{
margin-bottom: 15px;
margin-left: 5px;
margin-right: 5px;
border-radius: 2px;
background-color: white;
height: 6px;
}
#main
{
font-size: 14px;
margin-left: 10px;
margin-right: 10px;
color: white;
font-family: Arial;
margin: 5px;
text-decoration: none;
}
#main a
{
text-decoration: none;
color: white;
}
#main a:hover
{
font-weight: bold;
}

#page
{
margin-bottom: 5px;
margin-left: 5px;
margin-right: 5px;
border-radius: 5px;
background-color: white;
font-family: Arial;
color: black;
text-align: center;
margin-top: 3px;
font-size: 14px;
padding: 1px;
}
#page a
{
color: black;
text-decoration: none;

}
#page a:hover
{
font-weight: bold;

}
#credit
{
text-align: center;
color: white;
font-family: Arial;
font-size: 12px;
margin-bottom: 3px;
}
#credit a
{
text-decoration: none;
color: white;
}
.supprimg
{
margin-top: 5px;
margin-left: 10px;
height: 25px;
width: 25px;
position: absolute;
background-image: url('delete_icone.png');
}
.supprimg:hover
{
background-image: url('delete_icone_hover.png');
}
.image
{
display: inline-block;

}
.txt
{

opacity: 0;
background-color: rgba(0, 0, 0, 0);
color: transparent;
display:inline-block;
font-size: 12px;
font-family: Arial;
position: absolute; 

}
.txt:hover
{
opacity: 1;
background-color: rgba(0, 0, 0, 0.8);
color: white;
}
.txt_nom
{
font-size: 13px;
overflow: hidden;
margin: 10px;
font-weight: bold;
}
.txt_nom a
{
text-decoration: none;
color: white;

}
.txt_nom a:hover
{
text-decoration: underline;
}
.txt_description
{
margin-right: 10px;
margin-left: 10px;
}

.suppr
{
float: right;
background-image: url('delete_icone.png');
height: 20px;
width: 20px;
}
.suppr:hover
{
background-image: url('delete_icone_hover.png');
}
